# fixtures
/__tests__/fixture/SimpleComponent.test.jsx

# dependencies
/node_modules
/.pnp
.pnp.js

# production
/build
/coverage

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
.pnpm-debug.log*

# env files
.env*.local
.env

# typescript
*.tsbuildinfo

# IDE
.idea

# custom
.todo